@tailwind base;
@tailwind components;
@tailwind utilities;

@layer body {
  body {
    @apply bg-brand-500 text-zinc-100;
  }
}

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
  }
}
