* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
  transition: 0.1s;
}

body {
  font-family: "Segoe UI", Helvetica Neue, Helvetica, Lucida Grande, Arial;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
}
